<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Kite | 404</title>

    

    

<link href="../../static/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <style>

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="../../static/css/cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark" style="background-image:url('../../static/img/fly-a-kite-1242614_1280.jpg');background-position: 100%;background-repeat: no-repeat;background-size:cover;">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main class="px-3 m-auto">
    <h1>Page Not Found</h1>
    <p class="lead">The page you are looking for "/{{slug}}" is not found on the server! Please check out your URL again.</p>
    <p class="lead">
      <a href="kite" class="btn btn-lg btn-dark fw-bold" style="color:white;">Go to main page</a>
    </p>
  </main>
</div>


    
  </body>
</html>
