<!-- base-nav.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="/static/css/style-base-nav.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- This is added just for message boxes  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!---->

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="home-link navbar-brand" href="/"><img src="/static/assets/png/main1-light.png" alt
                class="home-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kite">My Kite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/feed">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Find Freelancers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Find Work</a>
                </li>

            </ul>
            <div class="navbar-nav">
                {% if not request.path == '/kite/' %}
                {% if profile_info %}
                <!-- Show user profile image and displayName if user is logged in -->
                <a class="nav-item nav-link" href="/kite">

                </a>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="{{profile_info.pp_url}}" alt="Profile Image" class="rounded-circle"
                            style="width: 30px; height: 30px; margin-right: 5px;">
                        {{ profile_info.display_name }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="kite">View Kite</a>
                        <a class="dropdown-item" href="#">Notifications</a>
                        <a class="dropdown-item">
                            <form method="POST" action="/api/logout">
                                {% csrf_token %}
                                <button class-type="died" style="width:100%;background:transparent;border:none;" type="submit"><i class="fas fa-user-minus"></i> Logout</button>
                            </form>
                        </a>
                    </div>
                </div>
                {% else %}
                <!-- Show login button if no user session exists -->
                <a class="btn btn-login nav-item nav-link " style="background-color:#4BBBAA ; color:white;"
                    href="/login">Login</a>
                {% endif %}
                {%endif%}
            </div>
        </div>
    </nav>
    {% block content %}

    <!--This is where all pages with navbar will be loaded-->
    <!-- Excluded From Nav-Extented-Pages:
            login.html
            profile-form.html
            ...
           -->

    {% endblock %}

    <!-- for modal and others -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<style>
    [class-type="died"]:hover{
        border: none;
    }
</style>
</body>

</html>