
<!-- base-nav.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/css/style-base-nav.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" border-bottom-right-radius: 50px; border-bottom: 4px #4BBBAA solid;">
        <a class="home-link navbar-brand" href="/"><img src="/static/assets/png/main1-light.png" alt
                class="home-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav mr-auto w-100">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kite">My Kite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/feed">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/community?src=buy">Find Freelancers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/community?src=work">Find Work</a>
                </li>

            </ul>
            
            <div class="navbar-nav d-flex  justify-content-end w-100"  >
                {% if "logged_profile_info" in request.session %}
                <div class="dropdown ">
                    <button onclick="loadMessagingContent()" class="btn bg-transparent nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="material-icons">message</span>
                    </a>
                    <div class="dropdown-menu" id="messages-box" aria-labelledby="navbarDropdown" style="width:400px; height:100px;background:url('/static/assets/svg/pattren-1-scalable.svg'); background: opacity 0.3;">
                    </div>
                    <script>
                        /// This fetches and loads notifications
                        function loadMessagingContent() {
                            fetch('/load/messagebox/',
                                {
                                    method: 'GET',
                                    headers: {
                                        'X-Requested-With': 'XMLHttpRequest'
                                    },
                                })
                                .then(response => response.text())
                                .then(html => {
                                    // Set the modal content
                                    document.getElementById('messages-box').innerHTML = html;
                                });
                        }
                    </script>

                  </div>
                <div class="dropdown">
                    <button onclick="loadNotificationContent()" class="btn bg-transparent nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="material-icons">notifications</span>
                    </a>
                    <div class="dropdown-menu" id="notification-menu" aria-labelledby="navbarDropdown">
                      
                    </div>
                    <script>
                        /// This fetches and loads notifications
                        function loadNotificationContent() {
                            fetch('/load/currentnotifications/',
                                {
                                    method: 'GET',
                                    headers: {
                                        'X-Requested-With': 'XMLHttpRequest'
                                    },
                                })
                                .then(response => response.text())
                                .then(html => {
                                    // Set the modal content
                                    document.getElementById('notification-menu').innerHTML = html;
                                   
                                });
                        }
                    </script>

                  </div>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
                        
                        <img src="{{request.session.logged_profile_info.pp_url}}" alt="Profile Image" class="rounded-circle"
                        style="width: 30px; height: 30px; margin-right: 5px;">
                        {{ request.session.logged_profile_info.display_name }}

                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/kite">View Kite</a>
                        <a class="dropdown-item">
                            <form method="POST" action="/api/logout">
                                {% csrf_token %}
                                <button class-type="died" style="width:100%;background:transparent;border:none;" type="submit"><i class="fas fa-user-minus"></i> Logout</button>
                            </form>
                        </a>
                    </div>
                </div>
                {% else %}
                <!-- Show login button if no user session exists -->
                <a class="btn btn-login nav-item nav-link " style="background-color:#4BBBAA ; color:white;"
                    href="/login">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}

    <!--This is where all pages with navbar will be loaded-->
    <!-- Excluded From Nav-Extented-Pages:
            login.html
            profile-form.html
            ...
           -->

    {% endblock %}

    <!-- for modal and others -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    
</body>

</html>