{% extends 'home/base-nav.html' %}
{% block content %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kite | Home</title>
	<link type="text/css" rel="stylesheet" href="/static/css/style-index.css" />
</head>    
        <section class="index-main">
			<header class="header">
				<div class="header__main">
					<h1 class="header__heading-prime">Welcome To the winds</h1>
					{% if user_info %}
					  <input type="text" placeholder="Search For Someone/Something" class="header__search-input">
					  <button class="btn btn-success header__button-Search">Find</button>	
					  
					{%else%}
					  <button onclick="location.href = '/login';" class="btn btn-success fw-bold header__button-join " style="background-color: #4BBBAA;">Join</button>	
					{%endif%}

					{% if allUsers %}
					<!-- everything: {{allUsers}} -->
					<div class="d-flex flex-wrap">
						{% for user in allUsers %}
							<div style="width: 18rem;" class="card p-3">
								<img class="img-thumbnail"style="width:100px;" src="{{user.pp_url}}" />
								<h2>{{ user.company }}</h2>
								<p>{{ user.about }}</p>
								
								{% if user_info %}
								{{ user.publicProfileId }}
									<button id="follow" class="btn btn-success" style="background-color: #4BBBAA;" onclick="followUserByPublicId('{{ user.publicProfileId }}','follow')">Follow</button>
									<script>
										function followUserByPublicId(publicId, buttonId) {
											var button = document.getElementById(buttonId);
											button.disabled = true;
											fetch(`api/follow/${publicId}`)
                                            .then(response => response.json())
                                            .then(data => {
                                                // Handle the response as needed
                                                console.log(data);
                                            })
                                            .catch(error => console.error('Error:', error));
											setTimeout(function () {
												button.disabled = false;
											}, 3000);
										}
									</script>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				{% else %}
					<p>No users available.</p>
				{% endif %}
			
				</div>
			</header>
		</section>

{% endblock %}





