{% extends 'home/base-nav.html' %}
{% block content %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kite | Home</title>
	<link type="text/css" rel="stylesheet" href="/static/css/style-index.css">

	<!-- This css does not work separately in a file. IDK why X(  -->
	<style>
		.search {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

		}

		input {
			width: 100%;
			padding: 10px;
			border: none;
			border-bottom: 2px solid #555;
			outline: none;
			margin-bottom: 20px;
			background-color: rgba(255, 255, 255, 0.7);
			font-size: 18px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}

		.card.p-3 a {
			color: inherit;
			text-decoration: none;
		}


	</style>
</head>
<section class="index-main">
	<header class="header">
		<div class="header__main">
			<h1 class="header__heading-prime">Welcome</h1>
			
			{% if "user_data" in request.session %}
			
			<div class="search container">
				<!-- <form onsubmit="event.preventDefault();" role="search"> -->
				<input id="search-input" type="search" placeholder="Search..." autofocus required />
				<div class="search-results-wrapper">
					<div class="search-results" id="search-results"></div>
				</div>
				<button class="btn btn-primary" style="background-color: #4BBBAA;" type="submit">Go</button>
				<!-- </form> -->
			</div>
			{%else%}
			<button onclick="location.href = '/login';" class="btn btn-success fw-bold header__button-join "
				style="background-color: #4BBBAA;">Join</button>
			{%endif%}
		</div>
	</header>
</section>
<script>

	const searchInput = document.getElementById("search-input");
    const searchResults = document.getElementById("search-results");
    
    searchInput.addEventListener("input", () => {
        const searchTerm = searchInput.value;
        searchTimeout = setTimeout(() => {
        if (searchTerm.trim() === "") {
            searchResults.style.display = "none";
            return;
        }
    
     
        fetch(`/api/search?qN=${searchTerm}`)
            .then((response) => response.json())
            .then((data) => {
				console.log(data.users)
    
                searchResults.innerHTML = ""; // Clear previous results
                data.users.forEach((user) => {
                  const resultItem = document.createElement("div");
                  const link = document.createElement("a");
                  link.setAttribute("class", `search-result`);
                  link.setAttribute("href", `/kites/${user.publicProfileId}`);
                  
                  resultItem.textContent = `${user.display_name}`;
                  link.appendChild(resultItem);

                  searchResults.appendChild(link);
                });
                searchResults.style.display = "block";
            });},500);
    });


	//function toggleFollow(button, publicId, action) {
	//	// Disable the clicked follow/unfollow button to prevent spam clicking
	//	button.disabled = true;
//
	//	fetch(`/api/follow/${publicId}/?action=${action}`)
	//		.then(response => response.json())
	//		.then(data => {
	//			// Handle the response as needed
	//			console.log(data);
//
	//			// Update the clicked button text and style, then re-enable the button
	//			if (data.success) {
	//				if (action === 'follow') {
	//					button.innerText = 'Unfollow';
	//					button.style.backgroundColor = ''; // Remove background color
	//					button.classList.remove('btn-success');
	//					button.classList.add('btn-light');
	//					button.onclick = function () {
	//						toggleFollow(button, publicId, 'unfollow');
	//					};
	//				} else {
	//					button.innerText = 'Follow';
	//					button.style.backgroundColor = '#4BBBAA';
	//					button.classList.remove('btn-light');
	//					button.classList.add('btn-success');
	//					button.onclick = function () {
	//						toggleFollow(button, publicId, 'follow');
	//					};
	//				}
	//			}
//
	//			// Re-enable the clicked button
	//			button.disabled = false;
	//		})
	//		.catch(error => {
	//			console.error('Error:', error);
//
	//			// Re-enable the clicked button in case of an error
	//			button.disabled = false;
	//		});
	//}


</script>
{% endblock %}