<div style="width: 18rem;" class="card p-2 position-relative">
    <a class="" style="text-decoration: none;color:var(--dark);" href="kites/{{user.publicProfileId}}"><img class="mx-auto d-block img-thumbnail"style="width:100px;" src="{{user.pp_url}}" />
        <h1>{{user.display_name}}</h1>
    
    <p>{{ user.about }}</p>
    </a>

    {% if profile_info %}
        <!-- Display follow/unfollow button based on the follow status -->
        {% if user.publicProfileId in profile_info.following %}
            <button onclick="toggleFollow(this,'{{ user.publicProfileId }}', 'unfollow')" class="follow-button btn btn-light btn-block " >Unfollow</button>
        {% elif user.publicProfileId == profile_info.publicProfileId %}
        (You)
        {%else%}
            <button onclick="toggleFollow(this,'{{ user.publicProfileId }}', 'follow'  )" class="follow-button btn btn-success btn-block " style="background-color: #4BBBAA; " >Follow</button>
        {% endif %}
    {% endif %}
</div>
