 /* BASE COLORS
   teal : #4BBBAA
   yellow : #F7B633
   red : #FA4B16
  */

  /* GPT */

  .overlay-pp {
    position: relative;
    display: inline-block;
  }

  .overlay-post {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    color: white;
  }

  .camera-icon {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  .overlay-post:hover {
    opacity: 1;
  }

  .pp-hover-text {
    color: white;
    position: absolute;
    opacity: 0;
    transition: all ease 0.5s;
    transform: translate(-50%, 0%);
    text-align: center;
  }

  .overlay-pp:hover .pp-hover-text {
    transform: translate(0%, 0%);
    opacity: 1;
  }

  /* end */

  .prof-pic {
    width: 100%;
    height: 100%;
  }

  .btn-logout {
    position: absolute;
    top: 1.33%;
    right: 0.33%;
  }