<head>
</head>
<div class="modal fade" id="uploadPostModal" tabindex="-1" role="dialog" aria-labelledby="uploadPostModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadPostModalLabel">Upload Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
       
                <form method="POST" action="/api/uploaduserpost" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="postDescription">Post Description</label>
                        <textarea name="postDescription" class="form-control" id="postDescription" name="post_description"
                            rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="postImage">Post Image</label>
                        <input name="postImage" type="file" class="form-control-file" id="postImage" name="post_image">
                    </div>
                   

                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>
