<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/style-login.css">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Join Kite</title>
    </head>
    <body>
        <a href="/" class="home-link">
            <img src="/static/assets/png/main1-light.png" alt class="home-logo">
        </a>
        <div id="alerts">
            {% if messages %}
            {%for message in messages%}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endfor%}
            {%endif%}
        </div>
        <div
            class="main container d-flex justify-content-center align-items-center "
            style="height: 75vh;">
            <div class="container">
                <div class="cont row d-flex align-items-center">
                    <div class="col-sm-6 left d-none d-sm-block">
                        <p> Put your Kite on the clouds for the world to see.
                        </p><span>Take Flight!</span>
                    </div>

                    <div class="col-sm-6 logreg-forms" id="logreg-forms">

                        {%if "user_data" not in request.session%}
                        <!-- For Sign In -->
                        <form method="POST" action="/api/login"
                            class="form-signin">
                            {% csrf_token %}
                            <h1 class="h3 mb-3 font-weight-normal"
                                style="text-align: center"> Sign in</h1>
                            <div class="social-login">
                                <button class="btn facebook-btn social-btn"
                                    type="button"><span><i
                                            class="fab fa-facebook-f"></i> With
                                        Facebook</span>
                                </button>
                                <!-- <form method="POST" action="/api/loginWithGoogle"> -->
                                <button
                                    
                                    class="text-dark btn google-button btn social-btn">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24" width="15"
                                        height="15">
                                        <g
                                            transform="matrix(1, 0, 0, 1, 27.009001, -39.238998)">
                                            <path fill="#4285F4"
                                                d="M -3.264 51.509 C -3.264 50.719 -3.334 49.969 -3.454 49.239 L -14.754 49.239 L -14.754 53.749 L -8.284 53.749 C -8.574 55.229 -9.424 56.479 -10.684 57.329 L -10.684 60.329 L -6.824 60.329 C -4.564 58.239 -3.264 55.159 -3.264 51.509 Z" />
                                            <path fill="#34A853"
                                                d="M -14.754 63.239 C -11.514 63.239 -8.804 62.159 -6.824 60.329 L -10.684 57.329 C -11.764 58.049 -13.134 58.489 -14.754 58.489 C -17.884 58.489 -20.534 56.379 -21.484 53.529 L -25.464 53.529 L -25.464 56.619 C -23.494 60.539 -19.444 63.239 -14.754 63.239 Z" />
                                            <path fill="#FBBC05"
                                                d="M -21.484 53.529 C -21.734 52.809 -21.864 52.039 -21.864 51.239 C -21.864 50.439 -21.724 49.669 -21.484 48.949 L -21.484 45.859 L -25.464 45.859 C -26.284 47.479 -26.754 49.299 -26.754 51.239 C -26.754 53.179 -26.284 54.999 -25.464 56.619 L -21.484 53.529 Z" />
                                            <path fill="#EA4335"
                                                d="M -14.754 43.989 C -12.984 43.989 -11.404 44.599 -10.154 45.789 L -6.734 42.369 C -8.804 40.429 -11.514 39.239 -14.754 39.239 C -19.444 39.239 -23.494 41.939 -25.464 45.859 L -21.484 48.949 C -20.534 46.099 -17.884 43.989 -14.754 43.989 Z" />
                                        </g>
                                    </svg>
                                    With Google
                                </button>
                                <!-- </form> -->
                            </div>
                            <p style="text-align:center"> OR </p>
                            <input name="email" type="email" id="inputEmail"
                                class="form-control" placeholder="Email address"
                                required
                                autofocus>
                            <input name="password" type="password"
                                id="inputPassword"
                                class="form-control" placeholder="Password"
                                required>
                            <div class="password-container">
                                <span style="transform:translateY(-120%);"
                                    class="show-password"
                                    onclick="togglePasswordVisibility('inputPassword')"><i
                                        style="user-select:none; opacity: .5;"
                                        class="material-icons">visibility</i></span>
                            </div>
                            <button class="btn btn-success btn-block"
                                style="width: 100%;" type="submit"><i
                                    class="fas fa-sign-in-alt"></i> Sign in</button>
                            <a href="#" id="forgot_pswd">Forgot password?</a>
                            <hr>
                            <!-- <p>Don't have an account!</p>  -->
                            <button class="btn btn-primary btn-block"
                                style="width: 100%;" type="button"
                                id="btn-signup"><i class="fas fa-user-plus"></i>
                                Sign up
                                New
                                Account</button>
                        </form>

                        <form action="/api/resetpassword/" class="form-reset">
                            <input name="email" type="email" id="resetEmail"
                                class="form-control mb-2"
                                placeholder="Email address" required autofocus>
                            <button class="btn btn-primary btn-block"
                                type="submit">Reset
                                Password</button>
                            <a href="#" id="cancel_reset"><i
                                    class="fas fa-angle-left"></i>
                                Back</a>
                        </form>

                        <!-- For Sign UP -->

                        <form onsubmit="return validatePassword()" method="POST"
                            action="/api/signup" class="form-signup">
                            {% csrf_token %}

                            <div class="social-login">
                                <button class="btn facebook-btn social-btn"
                                    style="width: 100%;"
                                    type="button"><span><i
                                            class="fab fa-facebook-f"></i>
                                        With Facebook</span> </button>
                            </div>
                            <div class="social-login">
                                <button style="width: 100%;"
                                    class="text-dark btn google-button btn social-btn">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24" width="15"
                                        height="15">
                                        <g
                                            transform="matrix(1, 0, 0, 1, 27.009001, -39.238998)">
                                            <path fill="#4285F4"
                                                d="M -3.264 51.509 C -3.264 50.719 -3.334 49.969 -3.454 49.239 L -14.754 49.239 L -14.754 53.749 L -8.284 53.749 C -8.574 55.229 -9.424 56.479 -10.684 57.329 L -10.684 60.329 L -6.824 60.329 C -4.564 58.239 -3.264 55.159 -3.264 51.509 Z" />
                                            <path fill="#34A853"
                                                d="M -14.754 63.239 C -11.514 63.239 -8.804 62.159 -6.824 60.329 L -10.684 57.329 C -11.764 58.049 -13.134 58.489 -14.754 58.489 C -17.884 58.489 -20.534 56.379 -21.484 53.529 L -25.464 53.529 L -25.464 56.619 C -23.494 60.539 -19.444 63.239 -14.754 63.239 Z" />
                                            <path fill="#FBBC05"
                                                d="M -21.484 53.529 C -21.734 52.809 -21.864 52.039 -21.864 51.239 C -21.864 50.439 -21.724 49.669 -21.484 48.949 L -21.484 45.859 L -25.464 45.859 C -26.284 47.479 -26.754 49.299 -26.754 51.239 C -26.754 53.179 -26.284 54.999 -25.464 56.619 L -21.484 53.529 Z" />
                                            <path fill="#EA4335"
                                                d="M -14.754 43.989 C -12.984 43.989 -11.404 44.599 -10.154 45.789 L -6.734 42.369 C -8.804 40.429 -11.514 39.239 -14.754 39.239 C -19.444 39.239 -23.494 41.939 -25.464 45.859 L -21.484 48.949 C -20.534 46.099 -17.884 43.989 -14.754 43.989 Z" />
                                        </g>
                                    </svg>
                                    With Google
                                </button>
                            </div>

                            <p style="text-align:center">OR</p>
                            <input name="username" type="text" id="user-name"
                                class="form-control" placeholder="Full name"
                                required
                                autofocus>
                            <input name="email" type="email" id="user-email"
                                class="form-control" placeholder="Email address"
                                requiredautofocus>
                            <div class="password-container">
                                <!-- <label for="password1">Password:</label> -->
                                <input name="password" type="password"
                                    id="user-pass"
                                    class="form-control" placeholder="Password"
                                    required
                                    autofocus>
                                <span class="show-password"
                                    onclick="togglePasswordVisibility('user-pass')"><i
                                        style="user-select:none; opacity: .5;"
                                        class="material-icons">visibility</i></span>
                            </div>

                            <div class="password-container">
                                <!-- <label for="password2">Confirm Password:</label> -->
                                <input type="password" id="user-repeatpass"
                                    class="form-control"
                                    placeholder="Repeat Password"
                                    required autofocus>
                                <span class="show-password"
                                    onclick="togglePasswordVisibility('user-repeatpass')"><i
                                        style="user-select:none; opacity: .5;"
                                        class="material-icons">visibility</i></span>
                            </div>

                            <div id="passwordError" style="color: red;"></div>
                            <br>
                            <button class="btn btn-primary btn-block"
                                style="width: 100%;" type="submit"
                                value="Submit"><i class="fas fa-user-plus"></i>Sign
                                Up</button>
                            <a href="#" id="cancel_signup"><i
                                    class="fas fa-angle-left"></i>Back</a>
                        </form>
                        <br>

                        <!--{%comment%} {%else%}
            <form method="POST" action="/api/logout">
                {% csrf_token %}

                <button class="btn btn-primary btn-block" type="submit"><i
                    class="fas fa-user-plus"></i>Logout</button>
                
            </form>
            <form method="POST" action="/api/resendemailverification">
                {% csrf_token %}

                <button class="btn btn-primary btn-block" type="submit"><i
                    class="fas fa-user-plus"></i>Resend Email Verification</button>
                
            </form>
             {%endcomment%}-->
                        {%endif%}


                    </div>
                </div>
            </div>
        </div>

        <script src="/static/js/bootstrap.js"></script>

        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <script>
         function togglePasswordVisibility(fieldId) {
                var passwordField = document.getElementById(fieldId);
                var fieldType = passwordField.type;
                if (fieldType === 'password') {
                    passwordField.type = 'text';
                } else {
                    passwordField.type = 'password';
                }
            }        
        
        function validatePassword() {
            let password1 = document.getElementById("user-pass").value;
            let password2 = document.getElementById("user-repeatpass").value;
            let errorElement = document.getElementById("passwordError");
            console.log(password1 + password2)
        
            if (password1 !== password2) {
                errorElement.innerHTML = "Passwords do not match.";
                return false;
            } else {
                errorElement.innerHTML = "";
            }
            return true;
        }

        function toggleResetPswd(e){
        e.preventDefault();
        $('#logreg-forms .form-signin').toggle() // display:block or none
        $('#logreg-forms .form-reset').toggle() // display:block or none
    }
    
    function toggleSignUp(e){
        e.preventDefault();
        $('#logreg-forms .form-signin').toggle(); // display:block or none
        $('#logreg-forms .form-signup').toggle(); // display:block or none
    }
    
    $(()=>{
        // Login Register Form
        $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
        $('#logreg-forms #cancel_reset').click(toggleResetPswd);
        $('#logreg-forms #btn-signup').click(toggleSignUp);
        $('#logreg-forms #cancel_signup').click(toggleSignUp);
    })

    $(document).ready(function() {
        $('#warning').on('click', function() {
            $('.warning').fadeOut(300, function(){
              $('.warning').remove();
            });
        });
    })
</script>
    </body>
</html>
