<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/style-profile-form.css">
        <style>

    </style>
        <title>Join Kite Now</title>
    </head>
    <body>
        
        <a href="/" class="home-link">
            <img src="../static/assets/png/main1-light.png" alt class="home-logo">
        </a>
        
       
        <div class="main container d-flex justify-content-center align-items-center " style="height: 100vh;">
        
        <div class="row">
        <div class="cont row  align-items-center">
        <div class="col-sm-6  right">
            <p> Your Kite can Attract Valuable traffic to your bussiness!
            </p><a  class="btn btn-primary  btn-block ">Learn More</a>
        </div>
        <div id="logreg-forms" class="col-sm-6 mh-100 logreg-forms left" >
            <form method="POST" action="/api/logout">
                {% csrf_token %}
                <button class="btn rounded-5 btn-outline-primary p-2" style="width: 100%;" type="submit">logout</button>
            </form>
            <form method="POST" action="/api/createprofile" id="profileForm" class="form-signin">
                {% csrf_token %}
                <div class="login-cont clearfix">
                </div>
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Tell Us About Yourself</h1>
                    <select name="country" class="form-control countries" id="countries" required >
                        <option value="" selected="" >Country</option>
                    </select>
                <input name="city" type="text" id="user-name" class="form-control" placeholder="Your City" required autofocus>
                <input name="niche" type="text" id="user-name" class="form-control" placeholder="Your Niche" required autofocus>
                <input name="company" type="text" id="user-name" class="form-control" placeholder="Company Name" autofocus>
                <input name="about" type="text" id="user-name" class="form-control" placeholder="About "  autofocus>
                <input name="link1" type="text" class="form-control" placeholder="Link" autofocus>
                <input name="link2" type="text" class="form-control" placeholder="Link" autofocus >
                <input name="link3" type="text" class="form-control" placeholder="Link" autofocus >
                <button class="btn btn-primary p-2" style="width: 100%;" type="submit">Next</button>
                </form>
        </div>
    </div>
    </div>
</div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="/static/js/profile-form.js" ></script>
    </body>
</html>
