
{% extends 'home/base-nav.html' %}

{% block content %}

<head>
    <title>Kite | {{ profile_info.display_name }}</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style-kite-main.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% load static %}
</head>

<section class="h-100">
    <div class="container-fluid h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-11">
                <div class="card">
                    <div class="col">
                        <div class="profile-pic">
                            <label class="-label rounded-circle opacity-0" style="cursor: none;" for="pp-input">
                                <span class="glyphicon glyphicon-camera"></span>
                                <span><i class="material-icons">camera</i></span>
                            </label>
                                <img class="rounded-circle mx-auto d-block " src="{{ profile_info.pp_url }}" alt="user pp" id="profilePicture" />
                        </div>
                        <h1 class="strong p-3 mb-1 text-center">{{profile_info.display_name }}</h1>
                        <!-- <p class="h2">Community</p> -->

                        <div class="d-flex mt-5  "
                            style="flex-direction: row;justify-content: space-around;">

                            <div class="d-flex fs-5 "
                                style="flex-direction: column;">
                                <p class="strong"><i class="material-icons">sports_score</i>
                                     Total Score</p>
                                <p class="strong"><i class="material-icons">emoji_events</i>
                                     Rank</p>
                                <p class="strong"><i class="material-icons">group</i>
                                     Followers</p>
                                <p class="strong"><i class="material-icons">group</i>
                                     Following</p>
                                <p class="strong"><i class="material-icons">article</i>
                                    Posts</p>
                            </div>
                            <div class="d-flex fs-5"
                                style="flex-direction: column;">
                                <p class="strong">{{score.total}}</p>
                                <p class="strong">{{1}}</p>
                                <p class="strong" id="follower-count">{{profile_info.followers| length}}</p>
                                <p class="strong">{{profile_info.following |length}}</p>
                                <p class="strong">{{profile_info.posts |length}}</p>
                            </div>
                        </div>
                    </div>

                    <blockquote class="blockquote text-center fw-bolder ">
                        <p class="p-1 strong mb-0">{{profile_info.about}}</p>
                    </blockquote>

                    <div class="d-lg-flex p-1 mt-sm-0 text-center">


                    {% if profile_info %}
                        {% if profile_info.publicProfileId in current_profile_info.following %}
                            <button id="followButton" class="btn btn-outline-dark rounded-5 mt-1 py-2" onclick="toggleFollow('{{ profile_info.publicProfileId }}', 'unfollow')">Unfollow</button>
                        {% elif profile_info.publicProfileId == current_profile_info.publicProfileId %}
                            
                        {% else %}
                            <button id="followButton" class="btn btn-outline-dark rounded-5 mt-1 py-2" onclick="toggleFollow('{{ profile_info.publicProfileId }}', 'follow')">Follow</button>
                        {% endif %}
                    {% endif %}
             

                    <button type="button"
                    class="btn btn-outline-dark rounded-5 mt-1 py-2 mr-md-3 "
                    data-mdb-ripple-color="dark" style="z-index: 1;">
                    Message
                    </button>
               

                    </div>
                    <script>    
                            function toggleFollow(publicId, action) {
                                const followButton = document.getElementById('followButton');
                                const followerCount= document.getElementById('follower-count')
                                // Disable the button to prevent spam clicking
                                followButton.disabled = true;
                            
                                fetch(`/api/follow/${publicId}/?action=${action}`)
                                    .then(response => response.json())
                                    .then(data => {
                                        // Handle the response as needed
                                        console.log(data);
                            
                                        // Update the button text and re-enable it
                                    if(data.success){
                                        if (action === 'follow') {
                                            followButton.innerText = 'Unfollow';
                                            followerCount.innerText=data.data.theirFollowerCount    
                                            followButton.onclick = function() {
                                                toggleFollow(publicId, 'unfollow');
                                            };
                                        } else {
                                            followButton.innerText = 'Follow';
                                            followerCount.innerText=data.data.theirFollowerCount
                                            followButton.onclick = function() {
                                                toggleFollow(publicId, 'follow');
                                            };
                                        }
                                    }else{
                                        console.log(data.success)
                                    }
                                        // Re-enable the button
                                        followButton.disabled = false;
                                    })
                                    .catch(error => {
                                        console.error('Error:', error);
                            
                                        // Re-enable the button in case of an error
                                        followButton.disabled = false;
                                    });
                            }
                            // Fetch and load the post grid component asynchronously
                            fetch(`/api/loaduserposts/{{profile_info.publicProfileId}}`, {
                                method: 'GET',
                                headers: {
                                    'X-Requested-With': 'XMLHttpRequest'
                                },
                            })
                                .then(response => response.text())
                                .then(html => {
                                    document.getElementById('post-grid-container').innerHTML = html;
                                });

                    </script>

                    <!-- Tab links -->
                    <div class="tab">
                        <button class="tablinks" onclick="openTab(event, 'Posts')">Posts</button>
                        <button class="tablinks" onclick="openTab(event, 'Stats')">Stats</button>
                        <button class="tablinks" onclick="loadService(); openTab(event, 'Services')">Services</button>
                        <button class="tablinks" onclick="openTab(event, 'Match')">Match</button>
                        <button class="tablinks" onclick="openTab(event, 'Eu')">Interactions</button>
                        <button class="tablinks" onclick="openTab(event, 'About')">About</button>

                    </div>

                    <!-- Tab content -->
                    <div id="Posts" class="tabcontent">
                        <h3>Posts</h3>
                        <div id="post-grid-container"></div>
                    </div>

                    <div id="Stats" class="tabcontent">
                        <h3>Stats</h3>
                        <div class="row">
                            <div class="col-md-6 text-center ">
                                <h4>Total score distribution</h4>
                                <h3>Score {{ score.total }}</h3>
                                <canvas id="stats" width="400" height="400"></canvas>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <script>
                            //For stats Chart

                            document.addEventListener('DOMContentLoaded', function () {
                            // Get the canvas element by ID
                            let ctx = document.getElementById('stats').getContext('2d');

                            let data = {
                                labels: ['Total likes', 'Total follows', 'Total comments', /*'Special privilege',*/ 'Activities'],
                                datasets: [{
                                    data: [ {{score.likes}} , {{score.follows}}, {{score.comments}}, {{score.activity}}], 
                                    backgroundColor: ['#4bbbaa', '#f7b633', '#fa4b16' ,'crimson'],
                                    hoverBackgroundColor: ['#4bbbaa', '#f7b633', '#fa4b16' ,'crimson'],
                                }]
                            };

                            // Doughnut chart options
                            let options = {
                                responsive: true,
                                maintainAspectRatio: true, // Set to false to allow custom size via canvas attributes
                            };

                            // Create the Doughnut chart
                            let myDoughnutChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: data,
                                options: options
                            });
                  
                        });
                    </script>

                    </div>
                    <div id="Services" class="tabcontent">

                    </div>

                    <div id="Match" class="tabcontent">
                        <!--TODO Add Match system -->
                    </div>

                    <div id="About" class="tabcontent">

                        <

                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead></thead>
                                <tbody>
                                    <tr>
                                        <td><i class="material-icons">extension</i>
                                            Niche</td>
                                        <td>
                                            {% for niche in niches %}
                                            <span class="badge m-1 text-white"
                                                style="background:#4bbbaa;">{{niche}}</span>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons">place</i>
                                            Location</td>
                                        <td>{{profile_info.city}} city of
                                            {{profile_info.country}}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons">domain</i>
                                            Belongs to</td>
                                        <td>{{profile_info.company}}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons">link</i>
                                            Contacts</td>
                                        <td>
                                            {% for link in urls %}
                                            <a href="{{ link.1 }}"
                                                style="text-transform:capitalize;"><i
                                                    class="fab fa-{{ link.0 }}"></i>
                                                {{ link.0 }}</a><br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div id="Eu" class="tabcontent">

                        {% load info_filters %}
                        <div class="container"><div class="row d-flex">
                            <div class="col">
                                <h3>Followers</h3>
                                 <ul class="list-group list-group-flush">
                                    {% for follower in profile_info.followers|slice:":10" %}
                                    <li class="list-group-item">
                                        <a href='/kites/{{follower}}' onclick="">
                                            {% with user_details=follower|get_user_details %}
                                                {% if user_details %}
                                                    <img style="max-width: 100px;  max-height: 100px; object-fit: cover;" src="{{ user_details.profile_pic_url }}" alt="{{ user_details.display_name }}">
                                                    {{ user_details.display_name }}
                                                {% else %}
                                                    No Followers Yet!
                                                {% endif %}
                                            {% endwith %}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col"><h3>Following:</h3>
                                  <ul class="list-group list-group-flush">
                                    {% for following in profile_info.following|slice:":10" %}
                                    <li class="list-group-item">
                                        <a href='/kites/{{following}}' onclick="">
                                            {% with user_details=following|get_user_details %}
                                                {% if user_details %}
                                                    <img style="max-width: 100px;  max-height: 100px; object-fit: cover;" src="{{ user_details.profile_pic_url }}" alt="{{ user_details.display_name }}">
                                                    {{ user_details.display_name }}
                                                {% else %}
                                                    Not Following Anyone Yet!
                                                {% endif %}
                                            {% endwith %}
                                        </a>
                                    </li>
                                    {% endfor %}
                                  </ul>
                            </div>
                        </div>
                    </div>
                        

                </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="/static/js/kite-main.js"></script>
{% endblock %}