{% extends 'home/base-nav.html' %}

{% block content %}

<head>

    <title>Kite | User</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style-kite-main.css" />
</head>
<section class="h-100">
    <div class="container-fluid py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-11">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row"
                        style="background-image: linear-gradient(to top right ,#4BBBAA, #F7B633,#FA4B16); height:250px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <div class="container">
                                <div class="overlay-pp" id="overlay-pp">
                                    <img src="{{ profile_info.pp_url }}" alt="user pp"
                                        class="img-fluid img-thumbnail mt-4 mb-2 prof-pic"
                                        style="width: 150px; z-index: 1" id="profile-picture">

                                    <div class="overlay-post" id="overlay-post">
                                        <form enctype="multipart/form-data" id="change-profile-pic" method="post"
                                            action="/api/uploaduserpic">
                                            {% csrf_token %}
                                            <label for="pp-input" class="camera-icon">
                                                <i class="fas fa-camera pp-form-icon"></i>
                                                <div class="pp-hover-text">Change Profile Pic</div>
                                            </label>
                                            <input name="pp" type="file" id="pp-input" style="
                                              all: unset;
                                              display: none;
                                            ">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <form class method="POST" action="/api/logout">
                                {% csrf_token %}
                                <button style="color: white;" class="btn btn-outline-light float-end btn-logout"
                                    type="submit"><i class="fas fa-user-plus"></i>logout</button>
                            </form>

                        </div>
                        <div class="ms-3" style="margin-top: 130px;margin-left:10px;">
                            <h1 class="fs-sm-1">{{ profile_info.display_name }}</h1>
                            <p>{{ profile_info.niche }}</p>
                        </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        {{profile_info.about}}
                        <a style="display: block;" href="{{profile_info.links.1}}">Link-1</a>
                        <a style="display: block;" href="{{profile_info.links.2}}">Link-2</a>
                        <a style="display: block;" href="{{profile_info.links.3}}">Link-3</a>
                        Owner of: <p>{{profile_info.company}}</p>

                        <div class="d-flex justify-content-end text-center py-1">
                            <div class="d-lg-flex mt-sm-0 text-left">
                                <button type="button" class="btn btn-outline-dark mt-1 py-2 px-1  p-md-1"
                                    onclick="loadModalContent()" data-toggle="modal" data-target="#uploadPostModal">
                                    Upload Post
                                </button>
                                <button type="button" class="btn btn-outline-dark mt-1 py-2 px-1 mr-md-1 p-md-1 mx-md-2"
                                    data-mdb-ripple-color="dark" style="z-index: 1;">
                                    Edit profile
                                </button>
                            </div>
                            <div id="modal-container"></div>
                            <div>
                                <p class="mb-1 h5">{{profile_info.posts | length}}</p>
                                <p class="small text-muted mb-0">Posts</p>
                            </div>
                            <div class="px-3">
                                <p class="mb-1 h5">{{profile_info.followers | length}}</p>
                                <p class="small text-muted mb-0">Followers</p>
                            </div>
                            <div>
                                <p class="mb-1 h5">{{profile_info.following | length}}</p>
                                <p class="small text-muted mb-0">Following</p>
                            </div>
                        </div>
                    </div>
                    <div id="post-grid-container"></div>

                    <script>
                        // Fetch and load the post grid component asynchronously
                        fetch('/api/loaduserposts', {
                            method: 'GET',
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest'
                            },
                        })
                            .then(response => response.text())
                            .then(html => {
                                document.getElementById('post-grid-container').innerHTML = html;
                            });
                        // Function to fetch and load the modal content asynchronously
                        function loadModalContent() {
                            fetch('/uploadpost',
                                {
                                    method: 'GET',
                                    headers: {
                                        'X-Requested-With': 'XMLHttpRequest'
                                    },
                                })
                                .then(response => response.text())
                                .then(html => {
                                    // Set the modal content
                                    document.getElementById('modal-container').innerHTML = html;
                                    // Show the modal
                                    $('#uploadPostModal').modal('show');
                                });
                        }
                        document.getElementById('pp-input').addEventListener('change', function () {
                            document.getElementById('change-profile-pic').submit();
                        });
                        function commentToggle(a) {
                            console.log(a.closest(".card").getElementsByClassName('comment-box')[0].toggleAttribute("hidden"))
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}