<!-- post-grid.html -->
    {% if not posts  %}
    <div class="">No Posts Yet.</div>
    {% endif %}
    <div class="container mt-4">
      <div class="row">
        {% for post in posts %}
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card">
              <img src="{{ post.post_url }}" class="card-img-top" alt="Post Image">
              <div class="card-body">
                <h5 class="card-title">{{ post.post_description }}</h5>
                <!-- Other post information goes here -->
  
                <!-- Overlay -->
                <div class="overlay-post">
                  <p class="overlay-post__date">{{ post.added_at }}</p>
                  <p class="overlay-post__likes">Likes: {{ post.likes }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    </div>


  <style>
    .card-post {
      position: relative;
    }

    .overlay-post {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s;
      color: #fff;
    }

    .card-post:hover .overlay-post {
      opacity: 1;
    }

    .overlay-date {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    .overlay-likes {
      text-align: center;
    }
  </style>